<a href="/" class="group relative z-30 flex items-center">
  <div class="bg-[#E8E2D6] px-3 py-1.5 transition-opacity duration-200 group-hover:opacity-90">
    <img
      src="/logo.png"
      alt="The Standard"
      class="h-8 w-auto"
    />
  </div>
</a>